<h1>đăng khóa học</h1>
<form method="post" action="/courses/store">
  <div class="form-group">
    <label for="description">tên</label>
    <input id="name" name="name" type="text" class="form-control" />

  </div>

  <div class="form-group">
    <label for="description">Mô tả</label>
    <input
      id="description"
      name="description"
      type="text"
      class="form-control"
    />

  </div>

  <div class="form-group">
    <label for="description">video id</label>
    <input id="videoId" name="videoId" type="text" class="form-control" />

  </div>
  <div class="form-group">
    <label for="description">trình độ</label>
    <input id="level" name="level" type="text" class="form-control" />

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>